Cryptor adds extra block when given a full block and PKCS7Padding option is used

If I create a Crytor with PKCS7Padding option and I pass update() a parameter that has a size that is a multiple of the block size then it creates an extra block at the end.  This happen with passing type String or [Int8] to update(). 

Thank you very much for creating this library. 

Hi mmmayer, 

I'm glad you are finding the library useful.

This is the correct behavior for PKCS7 padding. See: [RFC 2315 Section 10.3 Note 2](https://tools.ietf.org/html/rfc2315#section-10.3).

Hope this helps,
idk